@using ClassLibraryModel
@model GeneralFormElementModel

<div class="bg-white rounded-1 border-1 border-secondary border d-flex flex-column p-3 m-1">
    <input asp-for="QuestionType" name="Form.FormElements[@Model.Index].QuestionType" type="hidden" />
    <input asp-for="Index" name="Form.FormElements[@Model.Index].Index" type="hidden" />
    <div class="d-flex flex-row align-items-center">
        <h5 class="text-center">Multiple option choice</h5>
        <div class="border-bottom flex-grow-1 ms-2 me-2 border-dark"></div>

    </div>
    <div class="form-group">
        <input name="Form.FormElements[@Model.Index].Question" asp-for="Question" class="form-control-plaintext mb-1 h4" />
        <span asp-validation-for="Question" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div id="checkButtons-@Model.Index">
            @for (int i = 0; i < Model.Options.Count; i++)
            {
                bool correct = false;
                List<int>? ints = (List<int>?)Model.Answer;
                if (ints == null) return;
                correct = ints.Contains(i);
                <div class="d-flex flex-row align-items-center">
                    <input value="@i" @(correct ? "checked" : "")
                           class="form-check-input align-self-middle" type="checkbox" name="Form.FormElements[@Model.Index].Answer">
                    <input type="text" asp-for="Options[i]" name="Form.FormElements[@Model.Index].Options" class="m-1 form-control w-auto flex-grow-1" />
                    <a class="btn btn-danger" asp-page-handler="RemoveMultiple" asp-route-oindex="@Model.Index" asp-route-iindex="@i">Remove</a>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-page-handler="AddMultiple" asp-route-index="@Model.Index">Add Option</a>
    </div>
</div>