@page "/forms/edit/{id}/{handler?}"
@model FormCreator.Pages.Forms.AlterFormModel
@using FormCreator.Pages.FormElements
@using FormCreator.Models
@using Microsoft.AspNetCore.Http.Features;
@{
    ViewData["Title"] = Model?.Form?.Name ?? "New form";
    bool isMobile = bool.Parse(HttpContext.Items["mobile"].ToString());
}

@if (TempData["UserError"] != null)
{
    <div class="alert alert-danger alert-dismissible d-flex" role="alert">
        <span>@TempData["UserError"]</span>
        <span type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
    </div>
}
@if (TempData["UserSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible d-flex" role="alert">
        <span>@TempData["UserSuccess"]</span>
        <span type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
    </div>
}
<div asp-validation-summary="ModelOnly" class="text-danger fw-bold"></div>
@if (Model.Form != null)
{
    <form method="post" id="mainForm">
        <input type="hidden" asp-for="Form.Id" readonly>
        <input type="hidden" asp-for="Form.OwnerId" readonly>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a class="btn btn-sm btn-outline-secondary m-1" asp-page="/Forms/UserForms" asp-route-id="@User?.Identity?.Name">← Back to my forms</a>
                </div>
                @if (isMobile)
                {
                    <div class="btn-group dropstart">
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="mobileOptionsEditForm" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            Options
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="mobileOptionsEditForm">
                            <li>
                                <div class="btn-group dropdown">
                                    <button class="text-primary dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown" id="addFormElementDropdown" aria-expanded="false">
                                        Add Form Element
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="addFormElementDropdown">
                                        <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="ShortText"})',0)">Short Text</button></li>
                                        <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="LongText"})',0)">Long Text</button></li>
                                        <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="Date"})',0)">Date</button></li>
                                        <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="Time"})',0)">Time</button></li>
                                        <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="SingleOption"})',0)">Single Option</button></li>
                                        <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="MultipleOptions"})',0)">Multiple Options</button></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <button type="button" class="text-secondary dropdown-item" data-bs-toggle="modal" data-bs-target="#formSettings">Settings</button>
                            </li>
                            <li>
                                <button type="button" class="text-secondary dropdown-item" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Get",new{r="true"})',0)">Revert</button>
                            </li>
                            <li>
                                <button type="submit" class="text-success dropdown-item">Save changes</button>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="d-flex flex-row align-items-center justify-content-end gap-1">
                        <div class="dropdown">
                            <a class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" href="#" data-bs-toggle="dropdown" id="addFormElementDropdown" aria-expanded="false">
                                Add Form Element
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="addFormElementDropdown">
                                <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="ShortText"})',0)">Short Text</button></li>
                                <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="LongText"})',0)">Long Text</button></li>
                                <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="Date"})',0)">Date</button></li>
                                <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="Time"})',0)">Time</button></li>
                                <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="SingleOption"})',0)">Single Option</button></li>
                                <li><button type="button" class="dropdown-item add-form-element" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Add",new{type="MultipleOptions"})',0)">Multiple Options</button></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#formSettings">Settings</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="dynamicPage('@Url.Page("/Forms/AlterForm","Get",new{r="true"})',0)">Revert</button>
                        <button type="submit" class="btn btn-sm btn-outline-success">Save changes</button>
                    </div>
                }
            </div>
            <div class="card">
                <div class="card-header">
                    <input class="card-title form-control-plaintext p-0 h4 " asp-for="Form.Name" />
                </div>
                <input class="card-header fs-7 form-control-plaintext" type="text" asp-for="Form.Description" placeholder="Description" />
                <div class="card-body" id="formElementsContainer">
                    @if ((Model?.Form?.FormElements?.Count ?? 0) == 0)
                    {
                        <div class="container mt-3 mx-auto">
                            <div class="text-center fs-5 mx-auto">
                                No elements
                            </div>
                        </div>
                    }
                    @foreach (var formElement in Model?.Form?.FormElements)
                    {
                        ViewData["fe_last"] = Model.Form.FormElements.Count - 1;
                        var partialModel = new FormDisplayElementModel()
                    {
                        Mode = FormDisplayMode.Edit,
                        Element = formElement
                    };
                        switch (formElement.QuestionType)
                        {
                            case QuestionType.ShortText:
                                <partial name="/Pages/FormElements/ShortElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.LongText:
                                <partial name="/Pages/FormElements/LongElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.Date:
                                <partial name="/Pages/FormElements/DateElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.Time:
                                <partial name="/Pages/FormElements/TimeElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.SingleOption:
                                <partial name="/Pages/FormElements/SingleElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.MultipleOptions:
                                <partial name="/Pages/FormElements/MultiElement.cshtml" for="@partialModel" />
                                break;
                        }
                    }
                </div>
            </div>
        </div>
        <div class="modal fade" id="formSettings" tabindex="-1" aria-labelledby="formSettings" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Form settings</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check form-switch m-1 align-items-center">
                            <input id="fs_switchcbsub" class="form-check-input" type="checkbox" role="switch" asp-for="Form.CanBeSearched">
                            <label class="form-check-label user-select-none" for="fs_switchcbsub">Form visibility</label>
                        </div>
                        <div class="form-check form-switch m-1 align-items-center">
                            <input id="fs_switchcbsero" class="form-check-input" type="checkbox" role="switch" asp-for="Form.CanBeSubmittedOnce">
                            <label class="form-check-label user-select-none" for="fs_switchcbsero">One submission per user</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-primary mx-auto" data-bs-dismiss="modal">Okay</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
}