@page "/forms/user/{id}"
@model FormCreator.Pages.Forms.MyFormsModel
@{
    ViewData["Title"] = "User's forms";
}
@if (TempData["UserError"] != null)
{
    <div class="alert alert-danger alert-dismissible d-flex" role="alert">
        <span>@TempData["UserError"]</span>
        <span type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
    </div>
}
@if (TempData["DeletedFormName"] != null)
{
    <div class="alert alert-success alert-dismissible d-flex" role="alert">
        <span>
            Form
            <strong>
                @TempData["DeletedFormName"]
            </strong>
            is deleted.
        </span>
        <span type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
    </div>
}
@if (TempData["DeletedFormsError"] != null || TempData["DeletedFormError"] != null)
{
    <script>
        setTimeout(() => {
            var myModalEl = document.getElementById('@(TempData["DeletedFormsError"] == null ? "deleteAllFormsModal" : "deleteFormModal")');
            var modal = new window.bootstrap.Modal(myModalEl);
            modal.show();
        }, 100);
    </script>
}

@if (ModelState.ErrorCount > 0)
{
    <div asp-validation-summary="ModelOnly" class="text-danger fw-bold"></div>
}
else
{


    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                @if(Model?.FCUser?.Id != Guid.Empty && !Model.SelfAccount)
                {<a asp-page="/User/User" asp-route-id="@Model.FCUser.Id">@(Model?.FCUser?.Username)</a>}
                else
                {@(Model?.FCUser?.Username)}'s forms</h4>
        </div>
        @if (Model?.SelfAccount ?? false)
        {

            <h5 class="card-header text-muted align-items-center">
                Forms used:
                <span class="@((Model?.Forms?.Count ?? -1) >= (Model?.FCUser?.FormsAvailable ?? -1) ? "text-danger" : "")">

                    <strong>
                        @(Model?.Forms?.Count ?? -1)
                    </strong>
                    /
                    <strong>
                        @(Model?.FCUser?.FormsAvailable ?? -1)
                    </strong>
                </span>
                <a class="btn btn-warning btn-sm ms-2">Get more</a>
            </h5>
        }
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th>Indexing</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if ((Model?.Forms?.Count ?? 0) == 0)
                    {
                        <tr>
                            <td scope="row" colspan="3" class="align-middle">
                                <div class="container mt-3 mx-auto">
                                    <div class="text-center fs-5 mx-auto">
                                        No forms
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                        @foreach (var form in Model.Forms)
                        {
                            <tr class="gap-1">
                                <td class="align-middle">
                                    <div class="col text-secondary fw-normal">
                                        @form.Name
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div class="col text-secondary fw-normal">
                                        @(form.CanBeSearched ? "Yes" : "No")
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div class="col text-secondary">
                                        <a asp-page="/Forms/ViewForm" asp-route-id="@form.Id" class="btn btn-outline-primary">View</a>
                                        @if (Model.SelfAccount)
                                        {
                                            <a asp-page="/Forms/AlterForm" asp-route-id="@form.Id" class="btn btn-outline-secondary">Edit</a>
                                            <a asp-page="/Forms/FormSubmissions" asp-route-id="@form.Id" class="btn btn-outline-secondary">Submissions</a>
                                            <button data-bs-toggle="modal" data-bs-target="#deleteFormModal"
                                                    data-bs-id="@form.Id"
                                                    data-bs-name="@form.Name"
                                                    class="btn btn-outline-danger">
                                                Delete
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
        @if (Model.SelfAccount)
        {
            <div class="card-footer">
                <a class="btn btn-primary" asp-page="/Forms/CreateForm">New form</a>
                @if (Model.Forms.Count > 0)
                {
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAllFormsModal">Delete all forms</a>
                }
            </div>
        }
    </div>
    @if (Model?.Forms?.Count > 0)
    {

        <div class="modal fade" id="deleteAllFormsModal" tabindex="-1" aria-labelledby="deleteAllFormsModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete All Forms</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="get" asp-page="/Forms/DeleteAllForms">
                        <div class="modal-body">
                            <div class="d-flex flex-column">
                                <input name="id" value="@User.Identity.Name" type="hidden">
                                <div class="d-flex flex-row align-items-baseline">
                                    <span class="fs-6">
                                        Are you sure you want to delete
                                        <strong>
                                            all your forms
                                        </strong>?
                                    </span>
                                    @if (TempData["DeletedFormsError"] != null)
                                    {
                                        <span class="text-danger">@TempData["DeletedFormsError"]</span>
                                        TempData.Remove("DeletedFormsError");
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer flex-nowrap">
                            <span class="fs-7 text-secondary flex-grow-1">
                                If you're seeing error message twice, reload the page.
                            </span>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteFormModal" tabindex="-1" aria-labelledby="deleteFormModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="get" asp-page="/Forms/DeleteForm">
                        <div class="modal-body">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row align-items-baseline">
                                    <input type="hidden" name="id" id="deleteFormModalId" />
                                    <span class="fs-6">
                                        Are you sure you want to delete
                                        <strong id="deleteFormName">
                                        </strong>?
                                    </span>
                                    @if (TempData["DeletedFormError"] != null)
                                    {
                                        <span class="text-danger">@TempData["DeletedFormError"]</span>
                                        TempData.Remove("DeletedFormError");
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer flex-nowrap">
                            <span class="fs-7 text-secondary flex-grow-1">
                                If you're seeing error message twice, reload the page.
                            </span>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    <script>
        var modal = document.getElementById('deleteFormModal');
        modal.addEventListener('show.bs.modal', function (event) {
            var btn = event.relatedTarget;
            var id = btn.getAttribute('data-bs-id');
            var formName = btn.getAttribute('data-bs-name');
            var hInput = document.getElementById('deleteFormModalId');
            var name = document.getElementById('deleteFormName');
            name.textContent = formName;
            hInput.value = id;
        });
    </script>
}