@page "/forms/view/{id}"
@model FormCreator.Pages.Forms.ViewFormModel
@using FormCreator.Models
@using FormCreator.Pages.FormElements

@{
    ViewData["Title"] = Model?.Form?.Name ?? "Form";
    bool formEmpty = Model?.Form?.FormElements.Count == 0;
}

@if (ModelState.ErrorCount > 0)
{
    <div asp-validation-summary="ModelOnly" class="text-danger fw-bold"></div>
}
@if (TempData["UserError"] != null)
{
    <div class="alert alert-danger alert-dismissible d-flex" role="alert">
        <span>@TempData["UserError"]</span>
        <span type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
    </div>
}
@if (Model.IsSubmitted)
{
    <div class="alert alert-success alert-dismissible d-flex" role="alert">
        <span>The form was submitted.</span>
    </div>
}
@if (Model.Form != null)
{
    <form method="post" id="mainForm" autocomplete="off">
        <input type="hidden" name="Submission.UserId" asp-for="User.Identity.Name" readonly>
        <input type="hidden" name="Submission.FormId" asp-for="Form.Id" readonly>
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <span class="card-title form-control-plaintext p-0 h4">@Model.Form.Name</span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Form.Description))
                {
                    <span class="card-header fs-7 form-control-plaintext">@Model.Form.Description</span>
                }
                <div class="card-body " id="formElementsContainer">
                    @if ((Model?.Form?.FormElements?.Count ?? 0) == 0)
                    {
                        <div class="container mt-3 mx-auto">
                            <div class="text-center fs-5 mx-auto">
                                No elements
                            </div>
                        </div>
                    }
                    @foreach (var formElement in Model?.Form?.FormElements)
                    {
                        var partialModel = new FormDisplayElementModel()
                    {
                        Mode = FormDisplayMode.View,
                        Element = formElement,
                    };
                        switch (formElement.QuestionType)
                        {
                            case QuestionType.ShortText:
                                <partial name="/Pages/FormElements/ShortElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.LongText:
                                <partial name="/Pages/FormElements/LongElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.Date:
                                <partial name="/Pages/FormElements/DateElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.Time:
                                <partial name="/Pages/FormElements/TimeElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.SingleOption:
                                <partial name="/Pages/FormElements/SingleElement.cshtml" for="@partialModel" />
                                break;
                            case QuestionType.MultipleOptions:
                                <partial name="/Pages/FormElements/MultiElement.cshtml" for="@partialModel" />
                                break;
                        }
                    }
                </div>
                <div class="card-footer">
                    <button class="btn btn-lg btn-outline-primary w-100 mt-1 mb-1"
                    data-bs-placement="top" data-bs-title="Form cannot be submitted."
                            type="@(formEmpty ? "button":"submit")"
                    @(formEmpty ? "data-bs-toggle=tooltip" : "")>
                        Submit
                    </button>
                    <button class="btn btn-sm btn-outline-danger w-100 mt-1 mb-1" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </form>
}